<!DOCTYPE html>
<html>
<head>
<title>About</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<style>
    body {
        background-color: azure;
        background-repeat: no-repeat;
        background-position: left top;
        background-size:100%;
        background-attachment: fixed;
    }
</style>
</head>
<div id="Body" >
    <p class="MsoNormal" style="text-indent:.5in"><span style="font-family:Century">Welcome to Planet, a planning tool to help you explore our wonderful planet. Not sure where to start? Use our duality platform and get started on your journey across the world in no time. <o:p></o:p></span></p>

<body/>

